.background{
    background-color: black;
}
.corFundo{
    background-color: black;
}
div#menu a#info{
    margin: 0 0 0 25%;
}

.corFundo p{
    color: white;
}
.corFundo a{
    color: white;
}

div#menu a.info{
    margin: 0 0 0 25%;
}

div#menu a{
    color: white;
    background: black;
}

div#menu li a{
    color: white;
    background: black;
}

div#ancora a{
    color: white;
}

ul#listaMaterial {
    color: white;
}
h1,h2,h3{
    color: white;
}



